body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    background-color: papayawhip;
}

ul {
    padding: 0px;
}

header {
    background-color: rgba(51, 51, 51, 0.842);
    color: #fff;
    padding: 1px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.342);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
}

footer {
    background-color: rgba(51, 51, 51, 0.842);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 930px;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.342);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
}